@import "../../../../theme/variables";

.app-amount {

    .amount-benefit {
        color: $green();
    }

    .amount-expense {
        color: $red;
    }

    .amount-balance {
        color: $yellow;
    }

}